@import url('fonts.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: Merriweather;
  font-family: Poppins;
  font-family: Milkman, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2 {
  /* font-family: BebasNeue; */
  /* font-family: Orbitron; */
}

h2 {
  font-size: 5rem;
  line-height: 1.1;
  margin-left: -4rem;
  width: 90%;
}

h3 {
  font-size: 1.8rem;
  width: 64%;
  margin-top: 4rem;
  align-self: flex-end;
}

p {
  font-size: 1.2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

canvas {
  position: fixed;
  z-index: -1;
}

header, main, footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

header, main {
  padding: 1rem 10rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #535bf2;
  color: white;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.how {
  display: flex;
  justify-content: space-between;
  margin-top: 16rem;
  margin-bottom: 6rem;
  border-top: 1px solid #fff;
  padding-top: 4rem;
}

.how-item {
  width: 20%;
  position: relative; /* Positioning for the pseudo-element */
  text-align: center; /* Center the text */
}

.how-item::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 2rem;
  background-color: #fff;
}

svg {
  position: absolute;
  z-index: 1;
}

.arrow-right {
  top: 18rem;
  left: 10%;
  height: 12rem;
  width: auto;
}

.arrow-left {
  top: 40rem;
  right: 40%;
  height: 12rem;
  width: auto;
}

footer {
  margin-top: auto;
  padding: 0rem 10rem;
}

footer p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* Tablets (portrait) */
@media (min-width: 600px) {
  /* Styles for tablets portrait */
}

/* Tablets (landscape) */
@media (min-width: 768px) {
  /* Styles for tablets landscape */
}

/* Normal screens (desktops, laptops) */
@media (min-width: 1024px) {
  header, main {
    padding: 1rem 5rem;
  }

  footer {
    margin-top: auto;
    padding: 0rem 5rem;
  }
}

/* Ultra wide screens */
@media (min-width: 1920px) {
  header, main {
    padding: 1rem 0;
  }

  main {
    margin-top: 12rem;
  }

  footer {
    padding: 0;
  }

  h2 {
    margin-left: -6rem;
  }

  .arrow-right {
    top: 14rem;
    left: 16%;
  }
  
  .arrow-left {
    top: 32rem;
    right: 38%;
  }
}